@import "/src/styles/variables.less";

header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color, @primaryColor);
  color: white;
  height: 65px;
  z-index: 2;
  div.mobile-menu-container {
    display: none;
  }


div.nav-menu {
  div.menu-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 50px);
    max-width: 2200px;

    svg {
      transform: scale(0.9);
    }
  
    div.logo {
      display: flex;
      height: 45px;
      cursor: pointer;
      align-items: center;
      transition: ease 0.3s;
      
  
      &:hover {
        transform: scale(1.1);
        transition: ease 0.3s;
      }
  
      svg.house {
        transform: translateY(-2px);
      }
    }
    nav {
      align-content: center;
      ul {
        list-style-type: none;
        display: flex;
  
        li {
          margin-left: 20px;
          transition: ease 0.3s;
          align-self: center;

          span {
            cursor: pointer;
          }

          &:hover {
            transform: scale(1.2);
            transition: ease 0.3s;
            text-decoration: underline;
          }

          div.group-items {
            display: none;
          }

          &:hover div.group-items {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: @primaryColor;
            padding: 15px 8px;
            width: 130px;
            column-gap: 10px;

            a {
              margin-bottom: 10px;
              font-size: 16px;
              &:hover {
                transition: ease 0.3s;
                text-decoration: underline;
              }
            }

            .logout-section {
              display: flex;
              align-items: center;
              
              a {
                margin-right: 8px;
              }

              .logout-icon {
                margin-top: -10px;
              }
            }
          }

          a {
            text-decoration: none;
            color: white;
          }

          .avatar {
            cursor: pointer;
          }
        }
        
      }

      &.other-links {
        &:hover div.group-items {
          margin-left: 0;
        }
      }
    }
  }
}

  @media @tablet {
    div.menu-container {
      display: none !important;
    }
    div.mobile-menu-container {
      display: flex;
      flex-direction: column;
      align-items: end;
      position: relative;

      div.header-icon-container {
        padding: 10px 25px;
        display: flex;
        align-items: center;
        
        .menuIcon {
          margin-left: 20px;
          cursor: pointer;
          color: #4D849D;
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }


      div.mobile-menu-content {
        transform: translateX(100%);
        // animation: fade-out 1s;
        transition: transform 400ms ease-in;
        right: 0;
        background-color: @primaryColor;
        height: 100vh;
        width: 210px;
        max-width: 100%;
        nav {
          flex-direction: column;

          ul {
            list-style: none;
            li {
              padding: 10px 25px;
              position: relative;
              
              div.group-items {
                position: absolute;
                opacity: 0;
                top: 1px;
              }

              div.group-name {
                display: flex;
                align-items: center; 
              }
    
              &:hover div.group-items {
                position: relative;
                opacity: 1;
                display: flex;
                flex-direction: column;
                transition: all 0.3s ease-in;
                padding: 15px 15px 0 15px; 

                li {
                  display: block;
                }

                a {
                  margin-bottom: 10px;
                  &:hover {
                    text-decoration: underline;
                  }
                }

                .logout-section {
                  display: flex;
                  align-items: center;
                  
                  a {
                    margin-right: 8px;
                  }
    
                  .logout-icon {
                    margin-top: -10px;
                  }
                }
              }
              span {
                color: white;
                font-weight: 600;
              }
              a {
                color: white;
                transition: color 0.1s;
                font-weight: 600;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }

              &.avatar-list {
                .avatar {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      
      div.active  {
        div.mobile-menu-content { 
          display: block;
          position: absolute;
          transform: translateX(0%);
          transition: transform 400ms ease-out;


        }
      }
    }
  }
}