@import "/src/styles/variables.less";

header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color, @primaryColor);
  color: white;
  height: 65px;
  z-index: 1000;

div.mobile-menu-container {
  display: none;
}

div.nav-menu {
  div.menu-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 50px);
    max-width: 2200px;

    svg {
      transform: scale(0.9);
    }
  
    div.logo {
      display: flex;
      height: 45px;
      cursor: pointer;
      align-items: center;
      transition: ease 0.3s;
      
  
      &:hover {
        transform: scale(1.1);
        transition: ease 0.3s;
      }
  
      svg.house {
        transform: translateY(-2px);
      }
    }
    nav {
      align-content: center;
      ul {
        list-style-type: none;
        display: flex;
  
        li {
          margin-left: 20px;
          transition: ease 0.3s;
          align-self: center;

          span {
            font-size: 18px;
            cursor: pointer;
          }

          &:hover {
            transform: scale(1.2);
            transition: ease 0.3s;
            text-decoration: underline;
          }

          div.group-items {
            display: none;
          }

          &:hover div.group-items {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: @primaryColor;
            padding: 15px 8px;
            column-gap: 10px;

            a {
              margin-bottom: 10px;
              font-size: 16px;
              &:hover {
                transition: ease 0.3s;
                text-decoration: underline;
              }
            }

            .logout-section {
              display: flex;
              align-items: center;
              
              a {
                margin-right: 8px;
              }

              .logout-icon {
                margin-top: -10px;
              }
            }
          }

          a {
            text-decoration: none;
            color: white;
          }

          .avatar {
            cursor: pointer;
          }
        }
        
      }

      &.other-links {
        &:hover div.group-items {
          margin-left: 0;
        }
      }
    }
  }
}

  @media @tablet {
    div.menu-container {
      display: none !important;
    }
    div.mobile-menu-container {
      display: flex;
      flex-direction: column;
      align-items: end;

      div.header-icon-container {
        padding: 10px 25px;
        display: flex;
        align-items: center;
        
        .menuIcon {
          margin-left: 20px;
          cursor: pointer;
          color: #4D849D;
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }


      div.mobile-menu-content {
        display: none;
        animation: fade-in 1s;

      }

      
      div.active  {
        div.mobile-menu-content { 
          display: block;
          position: relative;
          right: 0;
          background-color: @primaryColor;
          height: 100vh;
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          width: 230px;
          max-width: 100%;
          z-index: 100;
          animation: fade-in 1s;
          nav {
            flex-direction: column;

            ul {
              list-style: none;
              li {
                padding: 10px 25px;
              
                div.group-items {
                  position: absolute;
                  opacity: 0;
                }

                div.group-name {
                  display: flex;
                  align-items: center; 
                }
      
                &:hover div.group-items {
                  position: relative;
                  opacity: 1;
                  display: flex;
                  flex-direction: column;
                  transition: all 0.3s ease-in;
                  padding: 15px 15px 0 15px; 

                  a {
                    margin-bottom: 10px;
                    &:hover {
                      text-decoration: underline;
                    }
                  }

                  .logout-section {
                    display: flex;
                    align-items: center;
                    
                    a {
                      margin-right: 8px;
                    }
      
                    .logout-icon {
                      margin-top: -10px;
                    }
                  }
                }
                span {
                  color: white;
                  font-weight: 600;
                  font-size: 16px;
                }
                a {
                  color: white;
                  transition: color 0.1s;
                  font-weight: 600;
                  cursor: pointer;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                &.avatar-list {
                  .avatar {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}