@import "/src/styles/variables.less"; 


body {
    overflow-y: hidden;
}

div.content {
  position: absolute;
  width: 100%;
  display: flex;
  height: calc(100vh - 200px);
  flex-direction: column;
  color: @primaryColor;
  z-index: 1;
  justify-content: end;

  @media @tablet {
    height: calc(100vh - 170px);
  }

  h1 {
    filter: drop-shadow(.03em .03em orange);
    margin-bottom: 10px;
  }

  p {
    filter: drop-shadow(.03em .03em orange);
  }
}

div.image-container {
    position: fixed;
    left: 0;
    top: 65px;
    width: 100vw;
    height: 100%;
}

img.heading {
    position: relative;
    width: 100vw;
    height: calc(100svh - 65px);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    backdrop-filter: none;
    left: 0;
    top: 0;

    &.desktop {
      @media @mobile {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media @mobile {
        display: block;
      }
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}